.App {
  text-align: center;
  font-family: system-ui;
}

body {
  background-color: rgba(0, 0, 0, 0.822);
}

h1{
  text-align: center;
  color:  rgba(29, 161, 242, 0.849);
}

.player-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  padding: 10px;
  color: rgba(29, 161, 242, 0.849) ;
}

.action-chosen{
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  width:50px;
  color: rgba(29, 161, 242, 0.849);
  background-color: white;
  border: 1px solid rgba(29, 161, 242, 0.849);
  border-radius: 50% ;
}

.action-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  margin-top: 30px;
}

.action-btn{
  height:50px;
  width:50px;
  color: white;
  border: 1px solid rgba(29, 161, 242, 0.849);
  border-radius: 50% ;
  background-color:  rgba(29, 161, 242, 0.849);
  cursor: pointer;
  font-size: large;
}

.action-btn:hover{
  background-color:rgba(18, 143, 221, 0.767) ;
}

.winner{
  text-align: center;
  color:  rgba(29, 161, 242, 0.849);
}

.play{
  height: 30px;
  width: 80px;
  border: 2px solid rgba(29, 161, 242, 0.849);
  border-radius: 5px;
  cursor: pointer;
  color:rgba(46, 167, 241, 0.767);
  background-color: white;
}

.play:hover{
  color:aliceblue;
  background-color: rgba(29, 161, 242, 0.849);
}

