.App {
  text-align: center;
  font-family: sans-serif;
}

.detail-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  background-color: pink;
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
  font-family: sans-serif;
}

.company-name {
  display: flex;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
}

.state-wrapper {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.75rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  background-color: red;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.detailed-description {
  padding-top: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 30px;
  opacity: 1;
  cursor: pointer;
}
.detailed-description-hide {
  opacity: 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.75rem;
}

h3 {
  font-size: 0.65rem;
}
.company-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.address-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.username-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
